<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <h1>Events</h1>
  <div class="container">
    <% if (events.length) { %>
      <% events.forEach(({ id, title, description}) => { %>
        <div class="event">
          <div><%= title %></div>
          <div><%= description %></div>
          <div class="register"> 
            <a href="/register/<%= id %>">Register</a> 
            <a href="/event/<%= id %>/participants">View</a> 
          </div>
        </div>

      <% }); %>
    <% } %>
  </div>
  <div class="pagination">
    <% if (page > 1) { %>
        <a href="/?page=<%= page - 1 %>" class="arrow">←</a>
    <% } %>
    <% for (let i = 1; i <= totalPages; i++) { %>
        <a href="/?page=<%= i %>" class="<%= page === i ? 'active' : '' %>"><%= i %></a>
    <% } %>
    <% if (page < totalPages) { %>
        <a href="/?page=<%= page + 1 %>" class="arrow">→</a>
    <% } %>
  </div>
</body>
</html>
